/* -----IMPORTS ------*/

@import 'https://fonts.googleapis.com/css?family=Hind|Roboto+Slab|Roboto';


/* -----RESETS ------*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
    text-rendering:  optimizeLegibility;
}



/* -----MAIN WRAPPER ------*/


.wrapper {
    width: 1440px;
    background: #F5F5F5;
    margin: auto;
    /*box-shadow: 0 0 5px #515658;*/
}

/* -----MAIN HEADER ------*/

.main-header {
    background-image: url("img/books_header_bg.jpg");
    height: 264px;
    padding-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__center-container {
    width: 685px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 56px;
}

.header-logo {
    padding-left: 5px;
}

.header-title {
    padding-left: 20px;
    color: #F0F7D9;

}

.header-title h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    margin-bottom: 10px;
}

.header-title p {
    font-family: 'Hindi', sans-serif;
    color: #668700;
}

.header-title span {
    color: #ffffff;
}

.search {
    width: 675px;
    margin-top: 46px;
    display: flex;

}

.search-icon {
    height: 50px;
    background: white;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 5px 5px 0;
}

.fa-search {
    color: #9FC316;
}

#header-search {
    width: 614px;
    height: 50px;
    border: none;
    padding-left: 20px;
    background: #CEDD9A;
    color: #627F06;
    border-radius: 5px 0 0 5px;
    font-weight: 500;
}


/* -----MAIN NAVIGATION ------*/
.main-nav {
    background: #ffffff;
    height: 55px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgba(119, 119, 119, .7);
    font-size: 1.1em;

}

.main-nav > ul {
    width: 1030px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav-li {
    list-style-type: none;
    display: inline-block;

}

.nav-li:nth-child(4) {
	color: #8BB714;
}


/* -----MAIN CONTENT ------*/
.books {
    width: 1202px;
    margin: auto;
}

.book-presentation {
    /*width: 843px;*/
    float: left;
    background: #fff;
    height: 473px;
}

.book-data p {
    display: inline-block;
}

.book-cover {
    /*width: 360px;*/
    float: left;
    margin: 0;
}

.book-cover img {

}

.book-content-1 {
    width: 466px;
    float: left;
}

.book-content-2 {
    width: 290px;
    float: left;
}

.group-rating a {
    display: block;
}

.book-footer {
    clear: both;
    margin: 0;
}

.book-banner, .book-banner > p, .book-bookmark {
    display: inline-block;
    background: #ffffff;
    margin: 0;
}



.book-bookmark:before {
    content: 'BOOKMARK';
}


.load-books p a {
    display: block;
    width: 1202px;
    margin:  50px auto 0 auto;
    padding: 5px;
    text-align: center;
    color: #727272;
    text-decoration: none;
}

/* -----MAIN FOOTER ------*/


.main-footer {
    display: flex;
    width: 1440px;
    height: 160px;
    margin-top: 150px;
    padding-top: 30px;
    background: #3A3A3A;
}

.main-footer_center-container {
    width: 1202px;
    margin: auto;
     }

.footer-title {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 100;
}

.footer-logo {
    float: left;
    width: 4%;
}

.footer-title h3 {
    padding: 15px 0 10px 10px;
    flex-grow: 1;
    float: left;
    color: #727272;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.footer-title h3 span {
    color: #CACACA;
}

.footer-title p {
    margin-right: 5.1em;
    flex-grow: 1;
    color: #727272;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.footer-title p span {
    color: #CACACA;
    line-height: 2em;
}

