/* -----IMPORTS ------*/

@import 'https://fonts.googleapis.com/css?family=Hind|Roboto+Slab';


/* -----RESETS ------*/

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font: 16px/1 sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
    text-rendering:  optimizeLegibility;
}



/* -----MAIN WRAPPER ------*/


.wrapper {
    width: 1440px;
    background: #F5F5F5;
    margin: auto;
    /*box-shadow: 0 0 5px #515658;*/
}

/* -----MAIN HEADER ------*/

.main-header {
    background-image: url("img/books_header_bg.jpg");
    height: 264px;
    padding-top: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header__center-container {
    width: 685px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 56px;
}

.header-logo {
    padding-left: 5px;
}

.header-title {
    padding-left: 20px;
    color: #F0F7D9;

}

.header-title h1 {
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    margin-bottom: 10px;
}

.header-title p {
    font-family: 'Hindi', sans-serif;
    color: #668700;
}

.header-title span {
    color: #ffffff;
}

.search {
    width: 675px;
    margin-top: 46px;
    display: flex;

}

.search-icon {
    height: 50px;
    background: white;
    width: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 5px 5px 0;
}

.fa-search {
    color: #9FC316;
}

#header-search {
    width: 614px;
    height: 50px;
    border: none;
    padding-left: 20px;
    background: #CEDD9A;
    color: #627F06;
    border-radius: 5px 0 0 5px;
    font-weight: 500;
}


/* -----MAIN NAVIGATION ------*/
.main-nav {
    background: #ffffff;
    height: 55px;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Hind', sans-serif;
    font-weight: 600;
    color: rgba(119, 119, 119, .7);
    font-size: 1.1em;

}

.main-nav > ul {
    width: 1030px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.nav-li {
    list-style-type: none;
    display: inline-block;

}

.nav-li:nth-child(4) {
	color: #8BB714;
}


/* -----MAIN CONTENT ------*/


.books {
    width: 1202px;
    margin: 2.5rem auto 4rem auto;
    font-family: 'Roboto', serif;
}

.books-split {
    display: flex;
}

/* -----MAIN CONTENT ------*/
/* -----BOOK Header ------*/

.book-presentation {
    /*width: 843px;*/
    height: 473px;
    padding: 1.5rem;
    border-right: 1px solid rgba(150, 150, 150, 0.4);
    background: #fff;

}

.book-presentation h2 {
    padding: 1.5rem 1.5rem 0.5rem 1rem;
    color: #313131;
    font-weight: 400;
}

.book-data {
    font-size: 12px;
    margin-bottom: 1rem;

}

.book-data p {
    display: inline-block;
    padding: 0.5rem;
    margin-left: 0.5rem;
    color: #cccccc;

}

.book-data p:first-child {
    color:  #5b5b5b;
}

.book-data p span {
    color: #488dcd;
}


.book-data input[type="button"]{
    padding: 5px 10px;
    border: 1px solid #8bb714;
    border-radius: 2.5px;
    background-color: transparent;
    font-size: 8px;
    color: #8bb714;
}

.book-data input[type="button"]:hover{
    padding: 5px 10px;
    border: 1px solid #8bb714;
    border-radius: 2.5px;
    background-color: #8bb714;
    font-size: 8px;
    color: #ffffff;
    box-shadow: 1px 1px 2.5px gray;
}

.book-cover {
    /*width: 360px;*/
    float: left;
}

.book-cover img {
    max-width: 100%;
}

.book-content-1 {
    width: 466px;
    float: left;
    padding: 1rem;
    border-right: 2px solid rgba(204, 204, 204, 0.3);
}

.book-desc {
    padding: 10px 0;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
    line-height: 1rem;
    color: #4c4c4c;
}

.book-desc p {
    padding-bottom: 1rem;
}

.book-desc a {
    color: #488dcd;
    text-decoration: none;
}

.book-content-2 {
    width: 290px;
    float: left;
    padding: 1rem;
}

.group-range input {
    display: block;
    width: 95%;
    margin:  0 auto;
}

.group-range label {
    display: block;
    padding-left: 15px;
    margin-bottom: -2.5px;
    font-size:  12px;
}

.group-rating {
    display: block;
    width: 100%;
    margin:  10px auto 0 auto;
    list-style: none;
}

.group-rating a {
    display: block;
    position: relative;
    padding: 5px;
    border-bottom: 1px solid #A0A0A0;
    text-transform: none;
    font-size:  12px;
    text-decoration: none;
    color: #609dd4;
    }

.group-rating a:after {
    position:absolute;
    right:  5px;
    font-family: FontAwesome;
    content: "\f105";
    }


/*            TEST SLIDER Yellow */
.lbl-yellow{
    position: relative;
    color:  #f7be26;
}

.lbl-yellow:after {
    position: absolute;
    right: 5px;
    content: "80%";
}

input[type=range].range-yellow {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].range-yellow:focus {
  outline: none;
}
input[type=range].range-yellow::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #f7be26;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].range-yellow::-webkit-slider-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 0px;
  width: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range].range-yellow:focus::-webkit-slider-runnable-track {
  background: #f8c53f;
}


/*            TEST SLIDER Green */

.lbl-green {
position: relative;
    color:  #75c36a;
}

.lbl-green:after {
    position: absolute;
    right: 5px;
    content: "75%";
}

input[type=range].range-green {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].range-green:focus {
  outline: none;
}
input[type=range].range-green::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #75c36a;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].range-green::-webkit-slider-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 0px;
  width: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range].range-green:focus::-webkit-slider-runnable-track {
  background: #75c36a;
}

/*            TEST SLIDER Blue */

.lbl-blue {
    position: relative;
    color:  #5ac9e3;
}

.lbl-blue:after {
    position: absolute;
    right: 5px;
    content: "75%";
  }

input[type=range].range-blue {
  -webkit-appearance: none;
  width: 100%;
  margin: 5px 0;
}
input[type=range].range-blue:focus {
  outline: none;
}
input[type=range].range-blue::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #5ac9e3;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range].range-blue::-webkit-slider-thumb {
  box-shadow: px px px rgba(0, 0, 0, 0), 0px 0px px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 0px;
  width: 0px;
  border-radius: 0px;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range].range-blue:focus::-webkit-slider-runnable-track {
  background: #5ac9e3;
}


/* -----MAIN CONTENT ------*/
/* -----BOOK Footer ------*/


.book-footer {
    clear: both;
    margin: 20px 0;
    /* background: #ffffff; */
}

.book-banner ,
.book-banner p {
  display: inline;
    float: left;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.book-banner p:nth-child(2){
    margin-right: 1rem;
    padding-right:2rem;
    padding-left: 0.5rem;
    background-color: #ffffff;
    color: #8bb714;
    border-left: 0.2px solid rgba(150, 150, 150, 0.2);
}

.book-banner > p
 {
    display: flex;
    align-items: center;
    align-content: center;
    height: 43px;
}

.book-banner.button {
    background-color: transparent;
}

.book-banner.button img {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.book-bookmark {
    text-align: right;
}

.book-bookmark:after {
    flex: 1;
    margin-right: 2.5rem;
    content: 'Bookmark It';
    color: #727272;
    font-size: 1rem;
}

.button input[type=button] {
    height: 42px;
    background-color: #98C400;
    border:  none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
}

.button input[type=button]:hover {
    height: 42px;
    display: inline-block;
    margin: 4px 2px;
    padding: 15px 32px;
    background-color: #ffffff;
    border: 0.5px solid #8bb714;
    border-radius: 5px;
    color: #8bb714;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
}

.load-books p a {
    display: block;
    width: 1202px;
    margin:  50px auto 0 auto;
    padding: 5px;
    text-align: center;
    color: #CCCCCC;
    text-decoration: none;
}

i.material-icons {
    display: block;
    text-align: right;
    margin-right: 5rem;
    color: #727272;
}

.book-bookmark-split a  {
    text-decoration: none;
}


/* -----MAIN FOOTER ------*/


.main-footer {
    display: flex;
    width: 1440px;
    height: 160px;
    margin-top: 150px;
    padding-top: 30px;
    background: #3A3A3A;
}

.main-footer_center-container {
    width: 1202px;
    margin: auto;
     }

footer-title {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 100;
}

.footer-logo {
    float: left;
    width: 4%;
}

.footer-title h3 {
    padding: 15px 0 10px 10px;
    flex-grow: 1;
    float: left;
    color: #727272;
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

.footer-title h3 span {
    color: #CACACA;
}

.footer-title p {
    margin-right: 5.1em;
    flex-grow: 1;
    color: #727272;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.footer-title p span {
    color: #CACACA;
    line-height: 2em;
}
